@import url('https://fonts.googleapis.com/css?family=Amatica+SC');

.grid {
  display: grid;
  flex: 1;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  padding: 3em;
}

.items {
  -webkit-box-shadow: 0px 0px 51px -25px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 51px -25px rgba(0,0,0,0.71);
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 51px -25px rgba(0,0,0,0.71);
  color: $grey;
  font-size: 12px;
  height: 100%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;

  .photo {
    -webkit-box-shadow: inset 0px -200px 69px -102px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -200px 69px -102px rgba(255,255,255,1);
    box-shadow: inset 0px -200px 69px -102px rgba(255,255,255,1);
    z-index: 1;

    img {
      border-radius: 10px 10px 0 0;
      display: block;
      position: relative;
      width: 100%;
      z-index: -1;
    }
  }

  .details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
    margin-top: -2em;
    position: relative;

    .title {
      color: $grey-dark;
      font-family: 'Amatica SC', cursive;
      font-size: 40px;
      text-transform: none;
    }

    .rating {
      svg {
        margin: 0 auto;
        padding: 0;

        path {
          fill: $gold;

          &:hover {
            fill: $gold-light;
          }
        }
      }
    }

    .description {
      margin: 10px;
      padding: 0;

      svg {
        width: 10px;
        path {
          fill: $grey;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    font-size: 80%;

    .left,
    .right {
      width: 40%;
    }
  }
}

@media screen and (min-width: 1081px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1080px) and (min-width: 830px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 829px) and (min-width: 610px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
