@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'variables';

html {
  background-color: $grey-light;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}
