.main-page-component {
  height: 100%;
  width: 100%;

  .first-view {
    background-attachment: fixed;
    background-color: $white;
    background-image: url('../../../public/assets/main_page1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    left: 0;
    top: 0;
    width: 100%;

    .logo {
      align-self: flex-start;
      background-color: $gold;
      height: 30px;
      margin: 20px;
      width: 30px;
    }

    .select-div {
      align-items: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: flex-start;
      text-align: center;
      width: 100%;


      .slogan {
        color: $white;
        font-family: sans-serif;
      }

      .slogan-name {
        font-size: 8vw;
      }

      .descript {
        font-size: 1.5vw;
        padding-bottom: 4%;
      }
    }

    .select-bar {
      display: flex;
      flex-direction: row;
      height: 60%;
      justify-content: space-between;
      padding: 10px;
      width: 70%;

      .flat-button {
        -moz-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
        -webkit-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
        background-color: $gold;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0 60px -9px rgba(0,0,0,71);
        color: $white;
        display: flex;
        font-size: calc(.8vw + 10px);
        height: 20%;
        justify-content: center;
        margin: 5px;
        min-height: 50px;
        min-width: 150px;
        padding: 5px;
        text-align: center;
        width: 20%;

        p {
          align-self: center;
          font-family: inherit;
          font-size: calc(.6vw + 10px);
          font-weight: 700;
          letter-spacing: .5px;
          overflow: hidden;
          text-align: center;
          text-decoration: inherit;
          text-overflow: ellipsis;
          text-transform: uppercase;
          white-space: nowrap;
          width: 80%;
        }

        svg {
          align-self: center;
          height: 45%;
          transform: rotate(270deg);
          width: 10%;

          path {
            fill: $white;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .slogan-name {
        font-size: 50px !important;
      }

      .descript {
        font-size: 15px !important;
        padding-bottom: 4%;
      }
    }

    @media screen and (max-width: 900px) {
      .select-div {
        height: 50%;
      }

      .select-bar {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
