.reservation-modal {
  background-color: $white;
  bottom: 0;
  height: 80%;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: 1;

  .base-line {

    height: 20%;

    .close-line {
      display: flex;
      justify-content: flex-end;

      .close-button {
        background-color: $white;
        border: 0;
        cursor: pointer;
        height: 35px;
        margin: 5px;
        outline: none;
        width: 35px;

        svg {
          path {
            fill: $gold;
          }
        }

        &:hover {
          background-color: $grey-light;
          border-radius: 60px;
        }
      }
    }

    .reservation-place {
      font-family: inherit;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;

      .restaurant-name {
        color: $gold;
        font-size: 22px;
        font-style: italic;
      }
    }
  }

  .reservation-information {
    height: 30%;
  }

  .personal-data {
    background-color: $gold-light;
    height: 40%;
  }

  .confirm-reservation {
    height: 10%;
  }



}
