.reservation-modal {
  background-attachment: fixed;
  background-color: $grey-dark;
  border: 10px solid $white;
  bottom: 0;
  height: 55%;
  left: 0;
  margin: auto;
  min-height: 380px;
  min-width: 280px;
  overflow: auto;
  padding: 2%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  z-index: 1;

  &:focus {
    outline: none;
  }

  .base-line {
    display: flex;
    height: 13%;
    justify-content: space-between;

    .close-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: 20px;
      outline: none;

      svg {
        path {
          fill: $white;
        }
      }

      &:hover {
        svg {
          path {
            fill: $gold;
          }
        }
      }
    }

    .reservation-place {
      align-self: center;
      color: $white;
      font-family: inherit;
      font-size: 22px;
      font-weight: bold;
      padding: 5px;
      text-align: center;

      .restaurant-name {
        color: $white;
      }
    }
  }

  .reservation-information {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    justify-content: space-around;
    padding: 5px;

    .reservation-date {
      width: 30%;
    }

    .reservation-people {
      width: 7%;
    }

    .reservation-date,
    .reservation-people {

      .flat-input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $white;
        border-radius: 0;
        color: $white;
        display: block;
        font-size: 15px;
        padding: 10px 10px 10px 5px;
        width: 100%;

        &:focus {
          outline: none;

          &::placeholder {
            color: transparent;
          }
        }

        &::placeholder {
          color: $grey-light;
        }

        &::-webkit-input-placeholder {
          color: $grey-light;
        }

        &::-moz-placeholder {
          color: $grey-light;
        }

        &:-ms-input-placeholder {
          color: $grey-light;
        }

        &:-moz-placeholder {
          color: $grey-light;
        }
      }
    }

    .reservation-hour {
      width: 23%;

      .select-hour {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $white;
        border-radius: 0;
        color: $white;
        display: block;
        font-size: 15px;
        padding: 10px 10px 10px 5px;
        width: 100%;

        &:focus {
          outline: none;
        }

        &::-webkit-input-placeholder {
          color: $grey-light;
        }

        &::-moz-placeholder {
          color: $grey-light;
        }

        &:-ms-input-placeholder {
          color: $grey-light;
        }

        &:-moz-placeholder {
          color: $grey-light;
        }
      }
    }
  }

  .inf-personal-data {
    align-items: flex-end;
    color: $gold;
    display: flex;
    font-family: inherit;
    font-size: 17px;
    height: 10%;
    justify-content: center;
    padding: 5px 5px 0px 5px;
    text-align: center;
    width: 100%;
  }

  .personal-data {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35%;
    justify-content: space-around;
    padding: 3%;
    width: 94%;

    .person-name,
    .person-surname,
    .person-tel-number,
    .person-email {
      width: 40%;

      .flat-input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $white;
        border-radius: 0;
        color: $white;
        display: block;
        font-size: 12px;
        padding: 10px 10px 10px 5px;
        width: 100%;

        &:focus {
          outline: none;
        }

        &::-webkit-input-placeholder {
          color: $white;
        }

        &::-moz-placeholder {
          color: $white;
        }

        &:-ms-input-placeholder {
          color: $white;
        }

        &:-moz-placeholder {
          color: $white;
        }
      }
    }
  }

  .confirm-reservation {
    display: flex;
    height: 10%;
    justify-content: center;
    margin: 0;
    padding: 1%;
    width: 98%;

    .flat-button {
      align-self: center;
      background-color: $gold;
      border-color: $gold;
      border-radius: 3px;
      color: $white;
      width: 40%;

      &:hover {
        background-color: $white;
        color: $gold;
      }
    }
  }
}
