.reservation-modal {
  background-attachment: fixed;
  background-color: $white;
  border-radius: 10px;
  bottom: 0;
  height: 60%;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  z-index: 1;

  &:focus {
    outline: none;
  }

  .base-line {
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 2%;

    .close-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: 30%;
      outline: none;
      width: 10%;

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: $gold;
        }
      }

      &:hover {
        svg {
          path {
            fill: $grey-dark;
          }
        }
      }
    }

    .reservation-place {
      align-self: center;
      color: $grey-dark;
      font-family: inherit;
      font-size: 2.5vw;
      font-weight: bold;
      padding: 10px;
      text-align: center;

      .restaurant-name {
        color: $grey-dark;
      }
    }
  }

  .reservation-information {
    align-items: center;
    background-color: $grey-dark;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: center;
    margin: 0 10%;
    padding: 5%;
    width: 70%;

    .reservation-date,
    .reservation-hour,
    .reservation-people {
      align-items: center;
      background-color: $white;
      border-radius: 3px;
      color: $grey-dark;
      display: flex;
      font-family: inherit;
      font-size: 1.5vw;
      font-weight: bold;
      height: 15%;
      justify-content: space-between;
      margin-top: 4%;
      padding: 5%;
      width: 70%;

      p {
        color: $gold;
        cursor: default;
        font-size: 1.8vw;
      }
    }

    .reservation-date {
      margin: 0;
    }
  }

  .next-step {
    display: flex;
    height: 14%;
    justify-content: flex-end;
    margin: 0;
    padding-top: 10%;
    width: 100%;

    .flat-button {
      align-self: center;
      background-color: $gold;
      border: 0;
      border-radius: 0;
      color: $white;
      font-size: 2vw;
      height: 100%;
      width: 100%;

      &:hover {
        // background-color: $grey-dark;
        color: $grey-dark;
      }
    }
  }
}
