$dg-narrow: 700px;
$dg-wide: 1000px;
@mixin dg-wide {
  @media (min-width: #{$dg-wide}) {
    @content;
  }
}

@mixin dg-narrow {
  @media (min-width: #{$dg-narrow}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.container {
  color: $grey-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  // max-width: 1280px;
  padding: 6em 1em;
  width: 100%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 1em 2em;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
  width: calc(100% - 2em);

  .rating {
    -moz-box-shadow: 0 0 68px -15px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 68px -15px rgba(0, 0, 0, .75);
    background: $gold;
    border-color: $gold-dark;
    border-radius: 4px;
    box-shadow: 0 0 68px -15px rgba(0, 0, 0, .75);
    color: $white;
    font-size: 11px;
    font-weight: bold;
    padding: .7em;
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 1em;

    &:hover {
      background-color: $gold-dark;
    }
  }

  .items[data-view='grid-view'] & {
    @include dg-narrow {
      float: right;
      height: 330px;
      width: calc(50% - 2em);

      &:nth-child(3) {
        clear: both;
      }

      &:nth-child(4) {
        clear: initial;
      }
    }

    @include dg-wide {
      width: calc((100% / 4) - 2em);

      &:nth-child(3) {
        clear: initial;
      }

      &:nth-child(4) {
        clear: both;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1350px) {
        width: calc((100% / 3) - 2em);
      }
    }
  }

  .items[data-view='list-view'] & {
    @include dg-narrow {
      height: 185px;

      @media only screen and (min-width: 2000px) {
        width: calc((100% / 2) - 2em);
      }

      @media only screen and (min-width: 3500px) {
        width: calc((100% / 3) - 2em);
      }
    }
  }

  & .photo {
    align-items: center;
    background: $white;
    display: flex;
    text-align: center;

    @include dg-narrow {
      justify-content: center;
    }

    img {
      height: 150px;
      margin: 0 auto;
      object-fit: cover;
      width: 100%;
    }

    .items[data-view='list-view'] & {
      @include dg-narrow {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;

        & img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  &-content-box {
    flex: 1;
    padding: 2em 1em 1em;

    .content {
      display: flex;
      flex-direction: column;
    }

    .items[data-view="list-view"] & {
      @include dg-narrow {
        padding-left: calc(200px + 7em);
      }
      .content {
        align-items: center;
        justify-content: center;
      }
    }

    &-type {
      font-size: 10px;
      letter-spacing: 2px;
      margin: 0 0 2em;
      text-transform: uppercase;

      &::before {
        color: $gold;
        content: '| ';
      }
    }

    &-title {
      font-size: 18px;
      line-height: 1;
      margin: 0 0 .5em;
    }

    &-localization {
      clear: both;
      color: $grey;
      font-size: 12px;
      letter-spacing: .5px;
      line-height: 1.5;
      margin: 0 0 1em;
      padding: 0;

      svg {
        fill: $grey;
        margin: 0 5px;
      }
    }
  }
}

.dc-view-switcher {
  display: none;
  margin: 1em;
  text-align: right;

  @include dg-narrow {
    display: block;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;

  & .centered {
    margin: 5px;
  }
}

.search {
  padding: 1em;
}
