.city-picker-component {
  height: 20%;
  margin: 5px;
  min-height: 50px;
  min-width: 150px;
  width: 20%;

  .city-picker-content {
    -moz-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
    -webkit-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
    background-color: $gold;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 60px -9px rgba(0,0,0,71);
    color: $white;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 2%;
    width: 100%;

    p {
      align-self: center;
      font-family: inherit;
      font-size: calc(.6vw + 10px);
      font-weight: 700;
      letter-spacing: .5px;
      overflow: hidden;
      text-align: center;
      text-decoration: inherit;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      width: 80%;
    }


    svg {
      align-self: center;
      height: 50%;
      width: 10%;

      path {
        fill: $white;
      }
    }

    &:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
    }
  }

  .city-picker-toggle {
    & ul {
      background-color: $white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      height: 6.5vw;
      list-style-type: none;
      margin: inherit;
      overflow: hidden;
      overflow-y: scroll;
      padding: 2%;
      position: relative;
      width: 96%;

      & li {
        border-bottom: 1px solid $grey-light;

        &:last-child {
          border-bottom: 0;
        }

        & button {
          background-color: $white;
          border: 0;
          color: $grey;
          cursor: pointer;
          float: left;
          font-size: calc(.5vw + 8px);
          height: 50%;
          padding: 3%;
          text-align: center;
          text-decoration: inherit;
          text-transform: uppercase;
          width: 94%;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.02);
          }
        }
      }
    }
  }
}
