.date-picker {
  -moz-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
  -webkit-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
  box-shadow: 0 0 60px -9px rgba(0,0,0,71);
  display: flex;
  height: 18%;
  justify-content: center;
  margin: 5px;
  max-height: 60px;
  max-width: 125px;
  min-height: 40px;
  min-width: 110px;
  width: 22%;

  .select-day {
    align-items: center;
    background-color: $gold;
    border: 0;
    color: $gold;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 20px;
    min-width: 15px;
    padding: 0;
    width: 15%;
  }

  .minus-day {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    outline: none;
    padding-left: 2px;

    svg {
      transform: rotate(90deg);

      path {
        fill: $white;
      }
    }
  }

  .plus-day {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
    padding-left: 2px;

    svg {
      transform: rotate(270deg);

      path {
        fill: $white;
      }
    }
  }

  .picker {
    border: 0;
    color: $grey-dark;
    font-size: 13px;
    font-weight: 700;
    height: 100%;
    max-width: 120px;
    min-width: 90px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
// react-datepicker-cssmodules.css changes
.react-datepicker__header {
  background-color: $gold !important;
  border-bottom: 0 !important;
}

.react-datepicker {
  border: 0 !important;
  box-shadow: 0 0 51px -25px rgba(0,0,0,0.60);
}

.react-datepicker__navigation.react-datepicker__navigation--next {
  border-left-color: $white;

  &:hover {
    border-left-color: $gold-light;
  }
}

.react-datepicker__navigation.react-datepicker__navigation--previous {
  border-right-color: $white;

  &:hover {
    border-right-color: $gold-light;
  }
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: $white !important;
}

.react-datepicker__day.react-datepicker__day--selected {
  background-color: $gold;
  color: $white !important;

  &:hover {
    background-color: $grey;
  }
}

.react-datepicker__triangle {
  border-top-color: $white !important;

  &::before {
    border-top-color: $white !important;
  }
}

.react-datepicker__triangle {
  border-bottom-color: $gold !important;

  &::before {
    border-bottom-color: $gold !important;
  }
}

.react-datepicker__month-container {
  color: $grey-light !important;
}

.react-datepicker__day {
  color: $grey !important;
}

.react-datepicker__day.react-datepicker__day--disabled {
  color: $gold !important;
}

.react-datepicker__input-container {
  height: 100%;
}
