.flat-button {
  background: $white;
  border: 2px solid $gold;
  border-radius: 2px;
  box-shadow: none;
  color: $gold;
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  font-weight: 700;
  height: auto;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  svg {
    fill: $gold;
    position: absolute;
    top: 8px;
    display: inline-block;
    left: 13px;
  }
  span {
    margin-left: 30px;
  }
  &.full {
    background-color: $gold;
    color: $white;
    svg {
      fill: $white;
    }
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    background: $gold;
    color: $white;

    svg {
      fill: $white;
    }
  }
  &:active {
    opacity: .7;
    transition: .4s;
  }
}
