.people-picker {
  -moz-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
  -webkit-box-shadow: 0 0 60px -9px rgba(0,0,0,0.71);
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 60px -9px rgba(0,0,0,71);
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: center;
  margin: 5px;
  min-height: 40px;
  min-width: 70px;
  width: 14%;

  .counter {
    background: $white;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-content: center;
    padding: 0;
    text-align: center;
    text-decoration: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 68%;

    .counter-value {
      border: 0;
      color: $grey-dark;
      font-size: calc(1vw + 10px);
      font-weight: 700;
      letter-spacing: .5px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    .counter-info {
      color: $grey;
      font-size: calc(.3vw + 5px);
    }

    &:hover {
      cursor: default;
    }
  }

  .change-button {
    background-color: $gold;
    border: 0;
    color: $white;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 16%;

    svg {
      align-self: center;
      height: 60%;
      width: 80%;

      path {
        fill: $white;
      }
    }
  }

  .increase {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;

    svg {
      transform: rotate(270deg);
    }
  }

  .decrease {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    outline: none;

    svg {
      transform: rotate(90deg);
    }
  }
}
