.flat-button {
  background: $white;
  border: 2px solid $gold;
  border-radius: 40px;
  box-shadow: none;
  color: $gold;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  word-break: keep-all;
  font-weight: 700;
  height: auto;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &:focus {
    outline: 0;
  }
  &:hover {
    background: $gold;
    color: $white;
  }
  &:active {
    letter-spacing: 2px;
  }
}
