.hour-picker-component {
  -moz-box-shadow: 0 0 51px -25px rgba(0,0,0,0.71);
  -webkit-box-shadow: 0 0 51px -25px rgba(0,0,0,0.71);
  box-shadow: 0 0 51px -25px rgba(0,0,0,0.71);
  height: 40px;
  width: 90px;

  .hour-picker-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    border: 0 !important;
    border-radius: 0;
    color: #8C98F2;
    color: $black;
    font-size: 15px;
    height: 100%;
    padding: 7px;
    width: 60px;

    &:focus {
      outline: none;
    }
  }
}
